# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin
out
run

# debug information files
*.dwo
var


# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log

# vs-code ide
.vscode/
.temp
tmp/

# Stores VSCode versions used for testing VSCode extensions
.vscode/
.vscode-test

# Ignores the Antlr4 grammar files, copied from neo-grammar.
antlr4/
